// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$navbar-light-active-color: var(--bs-white);
$navbar-light-hover-color: var(--bs-white);

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
// kompenzace fixed hlavičky
main > .container {
  padding-top: 65px;
}
//zmenšení obrázků v "o mně"
#o-mne {
  img {
    width: 50%;
  }
  @include media-breakpoint-up(md) {
    img {
      min-width: 150px;
    }
  }
}
#projekty {
  img {
    height: 250px;
  }
}
