body {
  font-size: 1.5rem;
  min-height: 200vh;
}
.outer-container {
  border: dashed black 3px;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}
.inner-container {
  border: solid blue 2px;
  height: 50vh;
  width: 40vw;
  margin: 200px auto;
}
.box {
  width: 150px;
  height: 150px;
  background-color: purple;
  color: white;
  padding: 1rem;
}
.absolute {
  background-color: green;
  position: absolute;
  top: 0px;
  right: 0px;
}
.relative {
  background-color: gold;
  position: relative;
  top: 500px;
  left: 100px;
}
.fixed {
  background-color: brown;
  position: fixed;
  top: 10px;
  left: 80px;
  width: 70vw;
}
.sticky {
  position: sticky;
  top: 10px;
  z-index: 2;
}
