/** GENERAL TAGS **/
* {
	padding: 0;
	margin: 0;
}
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
	display: block;
}
html {
	font: 75% Geneva, Arial, Verdana, sans-serif;
}
html, a {
	cursor: url('cursor/cursor.cur'), default;
}
/** Body **/
body {
	background-color: #000000;
}
/* Header */
#header {
	background-image: url(../images/bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	width: 1012px;
	height: 350px;
	margin: 0 auto 0 auto;
}
/** Strukture **/
#section {
	width: 1012px;
	margin: 0 auto;
}
/** Footer **/
#footer {
	position: relative;
	bottom: 0px;
	height: 52px;
	width: 100%;
	text-align: center;
	background-image: url(../images/foot-tile.png);
	background-repeat: repeat-x;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	color: #ffa800;
}
address {
	padding-right: 25px;
	text-align: right;
}
/** Logo **/
#logo {
	position: relative;
	left: 25px;
	top: 10px;
	display: block;
	width: 423px;
	height: 200px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}
/** Menu **/
#menu {
	position: relative;
	width: 767px;
	height: 71px;
	top: 15px;
	margin: 0 auto;
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	z-index: 1;
}
#menu nav {
	position: absolute;
	top: 25px;
	left: 40px;
}
#menu nav ul {
	text-align: center;
	font-size: 120%;
	word-wrap: break-word;
	line-height: 150%;
}
#menu nav li {
	float: left;
}
#menu nav li a {
	float: left;
	background-image: url(../images/button.png);
	color: #D9CDB5;
	width: 94px;
	height: 21px;
	background-repeat: no-repeat;
	margin: 0 2px 0 2px;
}
#menu nav li a:hover {
	background-image: url(../images/button_pull.png);
}
#menu nav li a:active {
	background-image: url(../images/button_push.png);
}
/* Sides */
#site {
	position: relative;
	width: 980px;
	height: 100%;
	float: left;
	margin: 0 20px;
}
#side-left,
#side-mid,
#side-right {
	float: left;
	position: relative;
}
#side-left {
	width: 211px;
}
#side-mid {
	text-align: left;
	width: 516px;
	margin: 0px 20px 0px 20px;
}
#side-right {
	width: 211px;
}
/* Nav-Menu */
.nav-menu {
	margin: 0px 0px 15px 0px;
}
.nav-menu-top {
	background-image: url(../images/module_top.jpg);
	top: 0px;
	text-align: center;
	background-repeat: no-repeat;
	color: #ffa800;
	width: 211px;
	height: 20px;
}
.nav-menu-top p {
	margin: 0px;
	font-size: 12px;
	padding-top: 3px;
	font-weight: bold;
}
.nav-menu-mid {
	background-image: url(../images/module_bg.png);
	background-repeat: repeat-y;
	padding: 15px;
	color: #FFFFFF;
}
.nav-menu-mid hr {
	clear: both;
	margin: 0;
}
.nav-menu-bottom {
	background-image: url(../images/module_bottom.jpg);
	background-repeat: no-repeat;
	width: 211px;
	height: 7px;
}
/* Nav-Mid */
.nav-mid-top {
	background-image: url(../images/main_top.jpg);
	top: 0px;
	text-align: center;
	background-repeat: no-repeat;
	color: #ffa800;
	width: 516px;
	height: 20px;
}
.nav-mid-mid {
	background-image: url(../images/main_bg.png);
	background-repeat: repeat-y;
	padding: 15px;
	color: #FFFFFF;
}
.nav-mid-mid img {
	float: right;
}
.nav-mid-mid img:hover {
	transition: all 2s;
/* Chrome, Safari, Opera 23.0-15.0 */
	-webkit-transform: rotate(20deg) scale(1.5);
/* Internet Explorer, Edge */
	-ms-transform: rotate(20deg) scale(1.5);
/* Opera 12.1-10.5 */
	-o-transform: rotate(20deg) scale(1.5);
	transform: rotate(20deg) scale(1.5);
}
.nav-mid-bottom {
	background-image: url(../images/main_bottom.jpg);
	background-repeat: no-repeat;
	width: 516px;
	height: 7px;
}
/** Nav Button **/
#statistic {
}
#statistic ul {
	list-style-type: none;
	font-size: 90%;
	text-align: center;
}
#statistic li {
	margin-left: auto;
	margin-right: auto;
	width: 149px;
}
#statistic li a {
	float: left;
	background-image: url(../images/strip.png);
	color: #D9CDB5;
	width: 149px;
	height: 19px;
	margin: 3px 0;
	background-repeat: no-repeat;
	line-height: 190%;
}
#statistic li a:hover {
	background-image: url(../images/strip_pull.png);
}
#statistic li a:active {
	background-image: url(../images/strip_push.png);
}
#offline {
	color: #ffffff;
}
/** Text **/
h1, h3, h5, h6 {
	/*margin: 0.3em 0;
*/
	font-weight: bold;
}
h1 {
	opacity: 0.0;
}
h2 {
	margin: 0px;
	font-size: 12px;
	padding-top: 3px;
}
h3 {
	margin: 0px;
	padding-top: 3px;
	font-size: 20px;
	color: #FF9900;
}
h4 {
	margin: 0px;
	font-size: 12px;
	padding-top: 3px;
	color: rgba(249, 164, 0,1);
}
h5, h6 {
	font-size: 12px;
}
p, pre, blockquote, form, label, dl, fieldset, address {
	/*margin: 0.35em 0 .8em 0;
*/
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.mid {
	text-align: center;
}
ul {
}
li {
}
a:link, a:visited {
	color: #ffa800;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #DC885E;
	text-decoration: none;
}
a img {
	border: none;
}
small {
	font-size: .85em;
}
img {
	border: none;
}
sup {
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}
sub {
	position: relative;
	bottom: -0.2em;
	vertical-align: baseline;
}
acronym, abbr {
	border-bottom: 1px dashed;
	letter-spacing: 1px;
}
/* Links */
#content a:link,
#content a:visited {
	color: #2c89e7;
}
#content a:hover {
	color: #2c89e7;
	text-decoration: underline;
}
#server_statistic {
	text-align: center;
	font-weight: bold;
	color: #FF00FF;
}
.css {
	border: 0;
	width: 88px;
	height: 31px;
	display: inline;
}
.css p {
	float: left;
}
hr {
	border: 0;
	clear: both
}
ul {
	list-style-type: none;
}
form {
	background: darkred;
}
form span {
	width: 80px;
	display: block;
	float: left;
}
form input {
}
audio {
	width: 485px;
}   