/** GENERAL TAGS **/
* {
	padding: 0;
	margin: 0;
}
h1 {
	display: none;
}
h3 {
  font-size: 24px;
  font-family: "Segoe UI";
  color: rgb( 64, 64, 64 );
  font-weight: bold;
  text-align: center;   
   }
h4 {
	font-size: 18px;
	font-family: "Segoe UI";
	color: rgb( 19, 25, 5 );
	font-weight: bold;
	margin-bottom: 21px;
}
.down {
      margin-left: 26px;
      }
.hr {
  background-image: url(../images/layer19.png);
  height: 64px;
  width: 960px;
  margin: 30px auto;
   }
ul {
	line-height: 1.5;
	list-style-type: none;
}
article, aside, details, figcaption, figure, footer, header, nav, section, summary {
	display: block;
}
/** Body **/
body {
	background-color: #ffffff;
}
#web {
	width: 1269px;
	margin: 0 auto;
	display: table;
	background-image: url(../images/background.png);
	background-repeat: repeat;
}
#header {
	background-color: #FFFFFF;
	height: 114px;
	width: 100%;
	float: left;
	clear: both;
	position: relative;
}
/** Logo **/
#logo {
	position: absolute;
	left: 151px;
	top: 28px;
	float: left;
	width: 111px;
	height: 54px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
}
#tel {
	position: absolute;
	float: left;
	left: 983px;
	top: 34px;
	width: 67px;
	height: 15px;
	background-image: url("../images/phone.png");
}
._603_148_655 {
	font-size: 18px;
	font-family: "Arial";
	color: #023440;
	font-weight: bold;
	-moz-transform: matrix( 1.30870918332504,0,0,1.26019690576653,0,0);
	-webkit-transform: matrix( 1.30870918332504,0,0,1.26019690576653,0,0);
	-ms-transform: matrix( 1.30870918332504,0,0,1.26019690576653,0,0);
	position: absolute;
	left: 996px;
	top: 55.558px;
	float: left;
}
#cssmenu {
}
#cssmenu ul {
	position: relative;
	margin: 35px 338px 0px 0px;
	text-transform: uppercase;
	font-family: "Segoe UI";
	line-height: 1.461;
	float: right;
}
#cssmenu li {
	margin: 0px 0px;
	padding: 0px 0px 8px;
	float: left;
	position: relative;
	list-style: none;
}
#cssmenu a, #cssmenu a:link {
	font-size: 13px;
	color: #AFAFAF;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 14px 15px;
	margin: 0px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
#cssmenu a:hover {
	background: #000;
	color: #fff;
}
#cssmenu .active a, #cssmenu li:hover > a {
	background: #56C6EE repeat-x 0 -40px;
	background: #56C6EE repeat-x 0 -40px;
	color: #FFFFFF;
	border-top: solid 0px  #f8f8f8;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
	text-shadow: 0 0px 0 #ffffff;
}
#cssmenu ul ul li:hover a, #cssmenu li:hover li a {
	background: none;
	border: none;
	color: #ffffff;
	display: inline;
}
#cssmenu ul ul a:hover {
	color: #fff !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cssmenu li:hover > ul {
	display: block;
}
#cssmenu ul ul {
	display: none;
	margin: 0px;
	padding: 10px;
	width: 159px;
	position: absolute;
	top: 45px;
	left: 0;
	background: #56C6EE repeat-x 0 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
#cssmenu ul ul li {
	float: none;
	margin: 0px;
	padding: 1px;
}
#cssmenu ul ul a, #cssmenu ul ul a:link {
	font-weight: normal;
	font-size: 12px;
	font-weight: bold;
}
#cssmenu ul:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
* html #cssmenu ul {
	height: 1%;
}
.__________ {
	font-size: 18px;
	font-family: "Arial";
	color: #939393;
	position: absolute;
	left: 958px;
	top: 20.553px;
	line-height: 0.3;
}
#slideshow {
	height: 418px;
	width: 100%;
	float: left;
	position: static;
	background-image: url(../images/slideshow1.jpg);
	background-size: 1269px;
	background-repeat: no-repeat;
	background-position: center top;
}
.slideshow_text
{
background-image: url(../images/rectangle2.png);
width: 573px;
height: 186px;
margin-top: 175px;
margin-left: 155px;

}
#rubrika {
	height: 800px;
	width: 100%;
	float: left;
	position: relative;
}
#site {
	height: 500px;
	width: 100%;
	float: left;
	position: relative;
}
#up-footer {
	height: 285px;
	width: 1269px;
	float: left;
	position: relative;
	background-image: url("../images/rectangle4.png");
	background-repeat: repeat;
	list-style-position: inside;
}
.up-footer-left, .up-footer-center, .up-footer-right {
	text-align: left;
	font-size: 14px;
	font-family: "Arial";
	color: #393B3D;
	top: 42px;
	width: initial;
}
.up-footer-left {
	position: absolute;
	left: 164px;
	list-style-image: url(../images/layer12.png);
	width: 300px;
}
.up-footer-center {
	position: absolute;
	left: 479px;
	width: 300px;
}
.li-center {
	list-style-image: url(../images/target.png);
	margin-bottom: 20px;
}
.li-tel {
	list-style-image: url(../images/tel.png);
	margin-bottom: 10px;
}
.li-mail {
	list-style-image: url(../images/mail.png);
}
.up-footer-right {
	position: absolute;
	left: 803px;
	width: 300px;
}
.p-right-footer {
	background-image: url(../images/elipse.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 27px;
	line-height: 2.2;
}
.number {
	font-size: 11px;
	font-family: "Arial";
	color: rgb( 255, 255, 255 );
  margin-left: 10px;
}
.number-text {
             margin-left: 25px;
             }
#footer {
	background-image: url(../images/footer.png);
	background-repeat: repeat-x;
	position: relative;
	float: left;
	height: 73px;
	width: 100%;
}
.webvisio_ {
	font-size: 12px;
	font-family: "Arial";
	color: rgb( 253, 254, 254 );
	line-height: 1.5;
	text-align: left;
	position: absolute;
	left: 1063px;
	margin-top: 31px;
}
.copyright {
	font-size: 12px;
	font-family: "Arial";
	color: rgb( 253, 254, 254 );
	line-height: 1.5;
	text-align: left;
	position: absolute;
	left: 151px;
	top: 22px;
}