@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Martian+Mono:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --hlavni_barva: hsla(0, 59%, 41%, 0.4);
  --barva_1: hsla(0, 59%, 41%, 0.6);
  --barva_2: hsl(0, 59%, 41%);
  --hlavni_bg_barva: hsl(120, 50%, 50%);
  --bg_1: hsl(180, 50%, 50%);
  --bg_2: hsl(60, 50%, 50%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input,
textarea,
button,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem;
}
h1 {
  font-family: "Montserrat", serif;
}
h2 {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
.justify > h3 {
  font-family: "Martian Mono", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.justify > p {
  font-family: "Martian Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
p {
  margin: 1rem;
  padding: 0 2rem;
}
span {
  background-color: green;
}
.colum {
  columns: 150px 3;
}
kbd {
  color: #fff;
  background-color: teal;
  padding: 4px 6px;
  border-radius: 6px;
}
mark {
  background-image: linear-gradient(to right, orange, coral, purple);
  color: #fff;
  background-color: teal;
  padding: 4px 6px;
  border-radius: 6px;
}
code {
  background-color: #eee;
  border: 1px #999;
  line-height: 3em;
  border-radius: 6px;
  padding: 4px 6px;
}
blockquote > p {
  color: blue;
  font-size: 2.5em;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
blockquote > p:after {
  content: "";
  border-top: 2px solid;
  position: absolute;
  width: 30px;
  height: 30px;
  border-right: 2px solid;
  border-radius: 0 100px 0 0;
  left: 40px;
  bottom: -32px;
  box-shadow: 10px 0 0 10px var(--bg_1); /*varianta ocásku*/
}
/* blockquote > p:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: var(--bg_1);
  left: 46px;
  bottom: -5px;
} */
blockquote > footer {
  margin-left: 100px;
}
main {
  width: 90%;
  margin: auto;
}

ul,
ol,
p,
dl {
  display: block;
  margin: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  padding: 0 2rem;
}
ol {
  list-style: lower-greek;
  border: 2px solid blue;
  background-color: lightblue;
}
ul li {
  background-color: #eee;
  padding: 5px 10px;
  list-style: circle inside;
  border: 1px solid #ddd;
}
dl {
  border-left: 7px #f00 double;
  padding: 1em;
}
dt {
  text-align: right;
  float: left;
  font-weight: bold;
  color: darkred;
}
dt::after {
  content: " : ";
}
dd {
  padding-bottom: 0.5em;
  margin-left: 120px;
}
#typography {
  background-color: var(--bg_1);
}
#lists {
  background-color: var(--hlavni_bg_barva);
}
#table {
  background-image: url(https://plus.unsplash.com/premium_photo-1679814366168-f6f39e7e8ae4?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#forms {
  background-color: var(--bg_2);
}
table {
  border: 2px solid;
  overflow: hidden;
  border-collapse: collapse;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
table td {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  font-weight: bold;
}
table th {
  color: white;
  background-color: orange;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 5px solid #ccc;
}
table tr:nth-child(even) td {
  background-color: #eee9a2;
}
table tr:hover td {
  background-color: aquamarine;
}
.odstavec {
  background-color: teal;
}
.odstavec p {
  color: greenyellow;
  text-transform: uppercase;
  line-height: 1.7;
}
.lines {
  text-decoration: overline blue;
}
.lines:hover {
  text-decoration: underline;
  text-decoration-color: blue;
}
.zalomeni {
  background-color: green;
}
.zalomeni p {
  text-indent: 30px;
  line-height: 1.7;
  text-transform: uppercase;
  color: greenyellow;
}
#typography > h2 {
  text-shadow: 5px 5px 10px black;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.p-l-60 {
  padding-left: 60px;
}
.justify {
  text-align: justify;
}
.vertical_lr {
  text-orientation: upright;
  writing-mode: vertical-lr;
}
/** Začátek  Accordions **/
#accordions summary {
  background-color: blue;
  height: 100px;
  margin: 10px 0;
  clip-path: polygon(25px 0%, 100% 0%, calc(100% - 25px) 100%, 0% 100%);
  font-size: 3rem;
  padding: 20px;
  position: relative;
  cursor: crosshair;
  font-weight: bold;
  list-style-type: none;
}
#accordions summary:hover {
  text-indent: 30px;
}
#accordions details summary::after {
  content: "+";
  position: absolute;
  right: 40px;
  color: #fff;
}
#accordions details[open] summary::after {
  content: "-";
}
/** Konec  Accordions **/
/** Začátek Formuláře **/
.forms input {
  padding: 5px;
  margin: 10px;
}
.forms label {
  padding: 10px;
}
.forms input[type="date"] {
  background-color: blue;
  color: white;
  border: 0;
  outline: 0;
  border-radius: 15px;
  padding: 15px;
  font-size: 18px;
}
/** Konec Formuláře **/
/* Začátek Media */
#media {
  background: repeating-linear-gradient(
    -45deg,
    transparent 0px 20px,
    hsla(0, 0%, 0%, 0.3) 20px 40px
  );
}
/* Konec Media */
/* Začátek Formulář pro odběr novinek */
#forms .odber {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 400px;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}
#forms .odber input[type="text"],
#forms .odber input[type="email"] {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
  padding: 10px 0px;
  border-bottom: white 2px solid;
  height: 3rem;
  width: 100%;
}
#forms .odber input::placeholder {
  color: white;
}
#forms .odber input:hover,
#forms .odber input:focus {
  outline: blue 3px solid;
}

#forms .odber input[type="checkbox"] {
  background-color: blue;
  color: white;
  scale: 2;
  margin-top: 15px;
}
#forms .odber label {
  padding-left: 8px;
}
#forms .odber input[type="submit"] {
  background-color: blue;
  border: none;
  outline: none;
  color: inherit;
  /* display: block; */
  padding: 10px 15px;
  border-radius: 15px;
  float: right;
  margin-top: 10px;
}
/* Konec Formulář pro odběr novinek */
/* Začátek Tlačítka */
#links button {
  background-color: #f00;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 13px;
  border: 0;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 8rem;
  min-height: 2.5rem;
}
#links button.secondary {
  background-color: blue;
}
#links button.contrast {
  background-color: gray;
}
#links button.contrast:hover {
  opacity: 1;
  background-color: white;
  color: black;
}
#links button.outline {
  border: 3px red solid;
  color: red;
  background-color: transparent;
}
#links button.outline:hover {
  color: black;
  background-color: red;
}
#links button.outline.secondary {
  border-color: blue;
  color: blue;
  transition: all 1s ease-in-out;
}
#links button.outline.secondary:hover {
  background-color: blue;
  color: white;
}
#links button.outline.contrast {
  border-color: gray;
  color: gray;
}
#links button.outline.contrast:hover {
  color: white;
  background-color: grey;
}
#links button:hover {
  opacity: 0.7;
  color: white;
  transition-duration: 1s;
}
/* Konec Tlačítka */
/* Začátek Odkazy */
#links a {
  color: black;
  text-decoration: none;
  font-size: 3rem;
  position: relative;
}
#links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  height: 5px;
  width: 100%;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 1s ease-in-out;
}
#links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#links a.primary:hover {
  color: #f00;
}
#links a.secondary:hover {
  color: blue;
}
#links a.contrast:hover {
  color: grey;
}
/* Konec Odkazy */
